/* CSS Reset */
/* * {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
} */

.my-container {
    margin: 0 auto;
    max-width: 500px;
}

.my-container-l {
    margin: 0 auto;
    max-width: 800px;
}

section {
    text-align: center;
    margin: 30px 0px;
}